@{
    ViewBag.Title = "Главная страница";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Панель управления трубами</h1>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="/Pipes/" class="btn btn-primary btn-block mb-3">Просмотр всех труб</a>
        </div>
        <div class="col-md-4">
            <a href="/Packages/" class="btn btn-primary btn-block mb-3">Просмотр всех пакетов</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="/Pipes/Create" class="btn btn-secondary btn-block mb-3">Добавить новую трубу</a>
        </div>
        <div class="col-md-4">
            <a href="/Packages/Create" class="btn btn-secondary btn-block mb-3">Добавить новый пакет</a>
        </div>
    </div>
</div>
