<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"></svg>
            <span class="fs-4">Менеджер труб</span>
        </a>

        <ul class="nav nav-pills">
            <!-- Проверяем, активна ли страница труб -->
            <li class="nav-item">
                <a href="/Pipes/" class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Pipes" ? "active" : "")">
                    Трубы
                </a>
            </li>
            <!-- Проверяем, активна ли страница пакетов -->
            <li class="nav-item">
                <a href="/Bundles/" class="nav-link @(ViewContext.RouteData.Values["controller"].ToString() == "Bundles" ? "active" : "")">
                    Пакеты
                </a>
            </li>
        </ul>
    </header>

    <div class="container mt-5">
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
