@model Bundle

<h1>Удалить пакет</h1>

<p>Вы уверены, что хотите удалить пакет № @Model.bundleNumber?</p>

<form asp-action="DeleteConfirmed" method="post" class="form-horizontal">
    <input type="hidden" name="id" value="@Model.id" />
    <div class="form-group">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>
