@model CreatePipeViewModel

<h1>@ViewBag.Title</h1>
<form asp-action="Create" method="post" class="form-horizontal">
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.number"></label>
        <div class="col-md-5">
            <input asp-for="Pipe.number" class="form-control" />
            <span asp-validation-for="Pipe.number" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.quality"></label>
        <div class="col-md-5">
            <select asp-for="Pipe.quality" class="form-control">
                <option value="Брак">Брак</option>
                <option value="Годное">Годное</option>
            </select>
            <span asp-validation-for="Pipe.quality" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.steelGrade"></label>
        <div class="col-md-5">
            <select asp-for="Pipe.steelGrade" class="form-control">
                <option value="Ст">Ст — обыкновенная нелегированная сталь</option>
                <option value="А">А — сталь с гарантируемыми механическими свойствами</option>
                <option value="Б">Б — сплав гарантированного состава</option>
                <option value="В">В — сталь для сварных конструкций</option>
                <option value="К">К — качественная углеродистая сталь</option>
                <option value="Л">Л — литейная конструкционная сталь</option>
                <option value="С">С — строительная сталь</option>
                <option value="У">У — углеродистая инструментальная сталь</option>
                <option value="Э">Э — электротехническая сталь</option>
            </select>
            <span asp-validation-for="Pipe.steelGrade" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.dimensions"></label>
        <div class="col-md-5">
            <input asp-for="Pipe.dimensions" pattern="\d+x\d+" class="form-control" />
            <span asp-validation-for="Pipe.dimensions" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.weight"></label>
        <div class="col-md-5">
            <input asp-for="Pipe.weight" class="form-control" />
            <span asp-validation-for="Pipe.weight" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>


