@model Pipe

@{
    ViewBag.Title = "Редактирование трубы";
}

<h1>@ViewBag.Title @Model.number</h1>

<form asp-action="Edit" method="post">
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="number" class="control-label">№ Трубы</label>
        <input asp-for="number" class="form-control" />
        <span asp-validation-for="number" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="quality" class="control-label">Качество</label>
        <input asp-for="quality" class="form-control" />
        <span asp-validation-for="quality" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="steelGrade" class="control-label">Марка стали</label>
        <input asp-for="steelGrade" class="form-control" />
        <span asp-validation-for="steelGrade" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="dimensions" class="control-label">Размеры</label>
        <input asp-for="dimensions" class="form-control" />
        <span asp-validation-for="dimensions" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="weight" class="control-label">Вес</label>
        <input asp-for="weight" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="weight" class="text-danger"></span>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>

