@model EditPipeViewModel

@{
    ViewBag.Title = "Редактирование трубы";
}

<h1>@ViewBag.Title @Model.Pipe.number</h1>

<form asp-action="Edit" method="post" class="form-horizontal">
    <input type="hidden" asp-for="Pipe.id" />
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.number" class="control-label">№ Трубы</label>
        <div class="col-md-5">
            <input asp-for="Pipe.number" class="form-control" />
            <span asp-validation-for="Pipe.number" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.quality"></label>
        <div class="col-md-5">
            <select asp-for="Pipe.quality" class="form-control">
                <option value="Брак">Брак</option>
                <option value="Годное">Годное</option>
            </select>
            <span asp-validation-for="Pipe.quality" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.steelGrade" class="control-label">Марка стали</label>
        <div class="col-md-5">
            <select asp-for="Pipe.steelGrade" class="form-control">
                <option value="Ст">Ст — обыкновенная нелегированная сталь</option>
                <option value="А">А — сталь с гарантируемыми механическими свойствами</option>
                <option value="Б">Б — сплав гарантированного состава</option>
                <option value="В">В — сталь для сварных конструкций</option>
                <option value="К">К — качественная углеродистая сталь</option>
                <option value="Л">Л — литейная конструкционная сталь</option>
                <option value="С">С — строительная сталь</option>
                <option value="У">У — углеродистая инструментальная сталь</option>
                <option value="Э">Э — электротехническая сталь</option>
            </select>
            <span asp-validation-for="Pipe.steelGrade" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.dimensions" class="control-label">Размеры</label>
        <div class="col-md-5">
            <input asp-for="Pipe.dimensions" pattern="\d+x\d+" class="form-control" />
            <span asp-validation-for="Pipe.dimensions" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <label asp-for="Pipe.weight" class="control-label">Вес</label>
        <div class="col-md-5">
            <input asp-for="Pipe.weight" class="form-control" type="number" step="0.01" />
            <span asp-validation-for="Pipe.weight" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" style="margin-bottom: 20px;">
        <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </div>
</form>

